* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.navbar{
    height: 72px;
    background-color:aliceblue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    border: 0.5px solid #a3a3a7;
    width: 600px;
    border-radius: 4px;
}
.search-input{
    height: 45px;
    border: none;
    font-size: 16px;
    width: 100%;
}
.meesho-logo{
    font-family: cursive;
    text-align: center;
    font-size: 42px;
    margin-bottom: 28px;
    height: 36px;
    width: 152px;
    color: rgb(63, 2, 45);
    font-weight: 600;
    text-align: start;
}
.search-icon{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.supply-invest{
    display: flex;
    font-size: 16px;
    color: #353543;
    margin-top: 25px;
}
.supply{
    margin-right: 15px;
}
.font{
    font-family: Mier book;
}
.image i{
    font-size: 25px;
}
.profile:hover{
    color: rgb(63, 2, 45);
}
.panel-ops a{
    margin-right: 25px;
    display: inline;
    margin-left: 15px;
    color: #353543;
    font-family: Mier book;
    text-decoration: none;
}
.panel-ops a:hover{
    color: #9f2089;
    text-decoration: underline;
}
.panel{
    height: 52px;
    width: 100%;
    border-top: 1px solid rgb(207, 204, 204);
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
}
.hero-section{
    background-image: url(hero_image.png);
    height: 375px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.smart-shop-now h1{
    margin-right: 150px;
    font-size: 34px;
    color: #ffffff;
}
.smart-shop-now p{
    font-size: 24px;
    background-color: #ffffff;
    width: 150px;
    display: inline;
    margin-left: 100px;
    color:rgb(63, 2, 45) ;
    border-radius: 4px;
}
.perks-section{
    background-color: rgb(254, 198, 222);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perks{
    padding: 12px 24px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 98%;
    border-radius: 4px;
    border: 1px solid palevioletred;
    color: #353543;
}
.category-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 40px ;
}
.box-image{
    height: 148px;
    width: 148px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    margin-right: 4px;
    margin-left: 10px;
}
.box-content {
    text-align: center;
    font-size: 22px;
    font-family: Mier book;
    color: #353543;
    font-family: Mier book;
}
.gold-section{
    height: 600px;
    width: 100%;
    background-image: url('gold.png');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-size: cover;
    background-position: center; 
}
.gold-div{
    height: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: normal;
    margin-top: 60px;
}
.gold-box{
    height: 220px;
    width: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 60px;
}
.div-1{
    margin-bottom: 110px;
}
.brand-section{
    height: 160px;
    width: 100%;
    padding: 60px 64px 16px;
    display: flex;
}
.view-all{
    margin-left: 1000px;
    font-size: 18px;
    color: #9f2089;
}
.view-all:hover{
    text-decoration: underline;
}
.original{
    height: 50px;
    width: 230px;
    font-size: 32px;
    display: flex;
    color: #353543;
    text-align: center;
    align-items: center;
}
.badge{
    color: blueviolet;
    size: 25px;
    margin-left: 10px;
}
.img{
    width: 100%;
    height: 303px;
    background-size: contain;
    background-repeat: no-repeat;

}
.brands{
    display: flex;
    justify-content: space-evenly;
    margin-left: 60px;
    justify-content: center;
    align-content: center;
    height: 350px;
}
.pop-brands{
    height: 132px;
    background-color: #F0E9FF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.brand{
    height: 100px;
    width: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 16px;
}
.foot-section{
    background-image: url(foot.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foot-features-images{
    height: 180px;
    width: 930px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 550px;
    margin-bottom: 50px;
}
.feature{
    height: 270px;
    width: 180px;
    margin-right: 40px;
    background-size: contain;
    backgroundrepeat: no-repeat;
}
.text{
    height: 35px;
    width: 160px;
    padding: 4px 0px 6px;
    font-size: 16px;
    font-weight: 700;
    color: #580a46;
    background-color: #fff5e5;
    border: 1px solid orange;
    border-radius: 8px;
    text-align: center;
    margin-left: 70px;
}
.foot-features-text{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-right: 200px;
    margin-top: 20px;
}
.foot-perks{
    display: flex;
    justify-content: space-evenly;
    margin-left: 466px;
}
.download{
    font-size: 24px;
    height: 50px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
}